<div class="m-4">
  <h1>Articulos</h1>
  <!-- Crud con nombre, descripcion, precio de venta y un multiselect de categorias -->
  <div class="flex flex-col gap-4 justify-center">
    <div>
      <div class="bg-gray-600 flex justify-center">
        <button mat-icon-button color="primary" matTooltip="Crear articulo" type="button" (click)="crearArticulo()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Ver lotes" type="button" (click)="verLotes()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Editar articulo" type="button" (click)="editarArticulo()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Eliminar articulo" type="button"
          (click)="eliminarArticulo()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <!-- Selectable -->
      <p-table selectionMode="single" [(selection)]="selected" [value]="articulos" [paginator]="true" [rows]="10"
        [responsive]="true" [columns]="cols">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio de venta</th>
            <th>stock</th>
            <th>Categorias</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-articulo>
          <tr [pSelectableRow]="articulo">
            <td>{{articulo.nombre}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>{{articulo.precio}}</td>
            <td>{{articulo.stock}}</td>
            <td>
              <ul>
                <li>{{ listarCategorias(articulo) }}</li>
              </ul>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
