<div class="m-4">
  <h1>Comprobantes</h1>

  <div class="bg-gray-600 flex justify-center">
    <button mat-icon-button color="primary" matTooltip="Crear comprobante" type="button" (click)="crearComprobante()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Ver detalles del comprobante" type="button"
      (click)="verDetallesComprobante()">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Anular comprobante" type="button" (click)="anularComprobante()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Cerrar comprobante" type="button" (click)="cerrarComprobante()">
      <mat-icon>close</mat-icon>
    </button>
    <!-- Button de reportes -->
    <button mat-icon-button color="primary" matTooltip="Reporte" type="button" (click)="openReportes()">
      <mat-icon>description</mat-icon>
    </button>
  </div>

  <p-table [scrollable]="true" [scrollHeight]="'300px'" [value]="comprobantes" [columns]="cols" selectionMode="single"
    [(selection)]="selectedComprobante">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comprobante>
      <tr [pSelectableRow]="comprobante">
        <td>{{comprobante.glosa}}</td>
        <td>{{comprobante.serie}}</td>
        <td>{{comprobante.tipo}}</td>
        <td>{{comprobante.moneda_nombre}}</td>
        <td>{{comprobante.tc}}</td>
        <td>{{comprobante.estado}}</td>
        <!-- Date dd/mm/yyyy -->
        <td>{{comprobante.fecha | date: 'dd/MM/yyyy'}}</td>

      </tr>
    </ng-template>
  </p-table>
</div>