<div class="m-4">
  <h1 class="font-bold">Notas de Venta</h1>

  <div class="bg-gray-600 flex justify-center">
    <button mat-icon-button color="primary" matTooltip="Crear nota de venta" type="button" (click)="crearNota()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Ver detalles de la nota" type="button" (click)="verNota()">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Ver reporte de la nota de compra" type="button"
      (click)="reporteNota()">
      <mat-icon>description</mat-icon>
    </button>
  </div>
  <p-table [value]="notas" selectionMode="single" [(selection)]="selectedNota">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          Nº
        </th>
        <th>
          Fecha
        </th>
        <th>
          Descripción
        </th>
        <th>
          Estado
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nota>
      <tr [pSelectableRow]="nota">
        <td>{{nota.nro_nota}}</td>
        <td>{{nota.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{nota.descripcion}}</td>
        <td>{{nota.estado}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>