<div class="w-full m-4">
  <h1>Cuentas</h1>
  <div class="p-4 flex flex-wrap justify-items-center justify-center  gap-2 w-full bg-gray-600 ">
    <button mat-icon-button color="primary" matTooltip="Crear" (click)="openDialogCrear()"
      [disabled]="selectedNode?.data.tipo == 'Detalle' ? true : false">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="basic" matTooltip="Editar" (click)="openDialogEditar()"
      [disabled]="selectedNode ? false : true">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="openDialogDelete()"
      [disabled]="selectedNode ? false : true ">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="basic" matTooltip="Reporte" (click)="openReportes()">
      <mat-icon>description</mat-icon>
    </button>
  </div>

  <p-tree *ngIf="files" [value]="files" selectionMode="single" [(selection)]="selectedNode"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
    <ng-template pTemplate="empty">
      Sin cuentas
    </ng-template>
    <ng-template let-node pTemplate="default">
      {{node.data.codigo + " - " +node.data.nombre }}
    </ng-template>
  </p-tree>
</div>